<mat-card>
  <button mat-icon-button [matMenuTriggerFor]="topMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #topMenu="matMenu">
    <button mat-menu-item (click)="openUserDialog()">Edit</button>
  </mat-menu>
  <mat-card-content>
    <img src="./../../../assets/img/pp.png" alt="">
    <div>
      <h2>{{ userService.user.firstName }} {{ userService.user.lastName }}</h2>
      <span>{{ userService.user.email }}</span>
    </div>
  </mat-card-content>
</mat-card>

<mat-card>
  <button mat-icon-button [matMenuTriggerFor]="bottomMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #bottomMenu="matMenu">
    <button mat-menu-item (click)="openAddressDialog()">Edit</button>
  </mat-menu>
  <mat-card-header>
    <mat-card-title>Address</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <span>{{ userService.user.street }}</span>
    <span>{{ userService.user.zipCode }} {{ userService.user.city }}</span>

  </mat-card-content>
</mat-card>
