<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer mode="side" [opened]="true">
    <div>
      LOGO
    </div>
    <ul>
      <li routerLink="/dashboard"><mat-icon>space_dashboard</mat-icon>Dashboard</li>
      <li routerLink="/user"><mat-icon>person</mat-icon>User</li>
    </ul>
  </mat-drawer>
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Simple CRM</span>
  </mat-toolbar>
  <router-outlet />
</mat-drawer-container>
